/*select tag{
    property: value;
}*/

body{
    /*background-color: gray;*/
    background: url(https://www.atlantisbahamas.com/media/Things%20To%20Do/Water%20Park/Beaches/Hero/Experiences_Beach.jpg);
    background-repeat: no-repeat; /*repeat*/
}

div{
    background-color: blue;
    border-color: orange;
    border-width: 4px;
    border-style:double;
}

p{
    color: yellow;
}

span{
    background-color: red;
    color:black;
}